.about{
    background-color: $darkGrey;
    width: 100%;
    padding: 1.5rem;
    display: grid;
    //grid-template-columns: 1fr 1fr;
    //grid-auto-rows: 400px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /*define width*/
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
   

    &__image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        img{
            height: auto;
            width: 70%;
            object-fit: cover;
        }
        
    }

    &__text{
        color: $white;
        h2{
            text-align: center;
        }
        p{
             width: 70%;
             margin: auto;
        }
       
    }

}