@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 1.2;
  background-color: #0a0a0a;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  padding: .6rem 1rem;
  background-color: #DC143C;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  color: #fff;
  font-weight: 600;
  border: none;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

h2 {
  font-family: 'Rye', cursive;
  color: #fff;
  text-align: center;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  /* --------------- Cart ---------------- */
  /*---------- Cart Item -------------------- */
  /*---------- End of Cart Item -------------------- */
  /* --------------- End of Cart ---------------- */
}

@media screen and (max-width: 1024px) {
  .header .header__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: auto;
  }
  .header .header__cta {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .header .header__toggle {
    margin-right: auto;
  }
}

.header__logo {
  height: 100px;
}

.header__cta {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.header__cta .cart-btn {
  position: relative;
  cursor: pointer;
}

.header__cta .cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #DC143C;
  padding: 0 5px;
  border-radius: 30%;
  color: #fff;
  font-size: 0.8rem;
}

.header .close-cart img {
  width: 20px;
  height: 20px;
}

.header .cart-overlay, .header .checkout-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background: rgba(224, 133, 133, 0.7);
  z-index: 2;
  visibility: hidden;
}

.header .cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: #e7e2dd;
  padding: 1.5rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.header .showCart {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header .transparentBcg {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .header .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.header .close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}

.header .cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

.header .cart-item {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.header .cart-item .amount img {
  width: 15px;
  height: 15px;
}

.header .cart-item img {
  width: 75px;
  height: 75px;
}

.header .cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.header .cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: 0.1rem;
}

.header .item-amount {
  text-align: center;
}

.header .remove-item {
  color: grey;
  cursor: pointer;
}

.header .fa-chevron-up,
.header .fa-chevron-down {
  color: #DC143C;
  cursor: pointer;
}

.header .cart-footer {
  margin-top: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.header .cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#344E76), to(transparent));
  background-image: linear-gradient(#344E76, transparent);
}

.header nav {
  background-color: #0a0a0a;
  position: relative;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 6px 1px;
          transform-origin: 6px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 3px;
}

.header__menu {
  position: absolute;
  width: calc(100% - 1.5rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 1.5rem;
  background: #fff;
  padding: 1.625rem;
  border-radius: 5px;
}

.header__menu a {
  color: #9698a6;
  padding: 01.625rem;
  display: block;
  text-align: center;
}

.header__links a {
  position: relative;
  font-size: 0.875rem;
  font-weight: 500;
  color: #fff;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a:hover {
  color: #DC143C;
}

.header__links a:hover::before {
  opacity: 1;
}

.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  left: 0;
  right: 0;
  bottom: -30px;
  background: #fff;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  border-radius: 2px;
}

.hero {
  background-image: url(/images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 500px;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 64em) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero__text {
  color: #fff;
  text-align: center;
}

.hero__text h1 {
  font-family: 'Rye', cursive;
}

.hero__text button a {
  color: white;
}

.about {
  background-color: #0c0b0b;
  width: 100%;
  padding: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /*define width*/
  grid-gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.about__image img {
  height: auto;
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__text {
  color: #fff;
}

.about__text h2 {
  text-align: center;
}

.about__text p {
  width: 70%;
  margin: auto;
}

.menu {
  background-color: #0a0a0a;
  color: #fff;
  width: 100%;
}

.menu h2 {
  text-align: center;
}

.menu__container {
  margin-top: 4em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__products {
  width: calc(100% - 5rem);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /*define width*/
  /*grid-auto-rows: 300px; define height*/
  grid-auto-flow: dense;
  grid-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.menu__item {
  width: 200px;
  height: 300px;
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: .7rem;
  background: rgba(221, 221, 221, 0.08);
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.7px);
  -webkit-backdrop-filter: blur(1.7px);
}

.menu__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.menu__cta img {
  height: 25px;
  width: auto;
}

.team {
  margin-top: 4rem;
  color: white;
  /* hover content - style */
  /* hover content - onhover */
  /* Team overview */
  /* For centering elements - optional - Can use table,tablecell instead */
  /* RESPONSIVE */
}

.team a {
  color: coral;
}

.team .team-members {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  list-style-type: none;
}

.team .team-members li > div {
  float: left;
  width: 20%;
}

.team .team-members li:nth-child(2) > div:first-child {
  margin-left: 20%;
}

.team .team-members li:last-child > div:first-child {
  margin-left: 40%;
}

.team .member-details > div {
  background-color: #ddd;
  margin: 5px;
}

.team .member-details img {
  -webkit-transform: rotate(45deg) translate(0, 15px) scale(1.2);
          transform: rotate(45deg) translate(0, 15px) scale(1.2);
  display: block;
  width: 100%;
  height: 100%;
}

.team .member-details > div {
  position: relative;
  overflow: hidden;
}

.team .member-info {
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(45deg) translate(-12px, 15px);
          transform: rotate(45deg) translate(-12px, 15px);
  left: 0;
  right: 0;
  z-index: 2;
  text-align: center;
}

.team .member-info h3,
.team .member-info p {
  margin: 0;
  color: #fff;
  position: relative;
  opacity: 0;
  visibility: hidden;
}

.team .member-info h3 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  top: -100px;
}

.team .member-info p {
  font-weight: 300;
  font-size: 12px;
  bottom: -150px;
}

.team .member-details > div:after {
  content: '';
  background-image: linear-gradient(45deg, rgba(228, 82, 69, 0.8) 50%, transparent 50%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}

.team .member-details *,
.team .member-details > div:after {
  cursor: pointer;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.team .member-details:hover *,
.team .member-details:hover > div:after {
  opacity: 1;
  visibility: visible;
}

.team .member-details:hover .member-info h3 {
  top: 0;
}

.team .member-details:hover .member-info p {
  bottom: 0;
}

.team .team-overview {
  padding-right: 15px;
}

.team .team-overview h2 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 5px;
}

.team .team-overview > a {
  margin-bottom: 30px;
  display: block;
}

.team .team-overview > a:before {
  content: '';
  width: 10px;
  height: 2px;
  position: relative;
  top: -3px;
  margin-right: 5px;
  background-color: #ccc;
  display: inline-block;
}

.team .flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team .flex-center > div:first-child {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media only screen and (max-width: 992px) {
  .team .sm-no-flex {
    display: block;
  }
  .team .sm-no-float {
    float: none !important;
  }
  .team .sm-text-center {
    text-align: center;
  }
}

@media only screen and (max-width: 550px) {
  .team .team-members li {
    text-align: center;
  }
  .team .team-members li > div {
    float: none;
    display: inline-block;
    width: 30%;
    margin: 0 !important;
  }
  .team .team-members {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .team .member-details img {
    -webkit-transform: rotate(0) translate(0, 0);
            transform: rotate(0) translate(0, 0);
  }
  .team .team-overview {
    padding: 15px;
  }
}

@media only screen and (max-width: 399px) {
  .team .team-members li > div {
    width: 48%;
  }
}

body {
  overflow-x: hidden;
}

.admin__container {
  position: relative;
  width: 100%;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}

.navigation.active {
  width: 60px;
}

a {
  text-decoration: none;
  color: #0a0a0a;
}

td img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: #DC143C;
}

.tabs__button {
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.navigation button {
  position: relative;
  width: 100%;
}

.navigation .tabs__button:hover {
  background: #e9e9e9;
}

.navigation .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.navigation .icon .fa {
  color: #0a0a0a;
  font-size: 24px;
}

.navigation .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  white-space: normal;
  color: #0a0a0a;
}

.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main.active {
  width: calc(100% - 60px);
  left: 60px;
}

.main .top-bar {
  width: 100%;
  background: #fff;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.toggle span i {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  color: #111;
}

@media screen and (max-width: 1000px) {
  .main {
    width: calc(100% - 60px);
    left: 60px;
  }
  .navigation {
    width: 60px;
  }
  .main.active {
    width: calc(100% - 300px);
    left: 300px;
  }
  .navigation.active {
    width: 300px;
  }
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
  padding: 2em;
}

.tabs__button.active {
  background: #e9e9e9;
  border-right: #fff;
}

.content-table {
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  margin: auto;
}

.content-table thead tr {
  background-color: #DC143C;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

i {
  padding-right: 5px;
  cursor: pointer;
}

.cars__table {
  margin-bottom: 10em;
}

form {
  margin-left: 10%;
  width: 100%;
  margin-bottom: 1em;
}

.form {
  width: 150px;
}

.form input {
  width: 100%;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 2px;
  caret-color: teal;
}

#add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2em;
}

#previews {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  gap: 5px;
}

#previews img {
  max-width: 200px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input[type='file'] {
  display: none;
}

#imagesLabel {
  color: #fff;
  height: 60px;
  width: 250px;
  background: #DC143C;
  margin-top: 4em;
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.uploadImages {
  margin-bottom: 3em;
}

.edit-form {
  display: none;
}

.label-name {
  font-weight: 500;
}

.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6));
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  -webkit-filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0);
          filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #e6e6e6;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
  background-color: #e6e6e6;
}

.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  border-radius: 5px;
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

.btn-primary, .btn-primary:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

.btn-primary.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
  background-color: #4a77d4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6eb6de), to(#4a77d4));
  background-image: linear-gradient(top, #6eb6de, #4a77d4);
  background-repeat: repeat-x;
  -webkit-filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);
          filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);
  border: 1px solid #3762bc;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  -webkit-filter: none;
          filter: none;
  background-color: #4a77d4;
}

.btn-block {
  width: 100%;
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.form {
  margin: auto;
  width: 300px;
}

.warning {
  color: #d44a4a;
}

.warning img {
  width: 15px;
  height: 15px;
}

input {
  width: 100%;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow .5s ease;
  -webkit-transition: -webkit-box-shadow .5s ease;
  transition: -webkit-box-shadow .5s ease;
  transition: box-shadow .5s ease;
  transition: box-shadow .5s ease, -webkit-box-shadow .5s ease;
}

input:focus {
  -webkit-box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4em 1em;
  -ms-flex-item-align: center;
      align-self: center;
}

.email input {
  padding: 2em;
  width: 20em;
  margin: .7em;
  outline: none;
  border: none;
  border-radius: 49px;
  background: #dfdbdb;
  text-align: center;
}

::-webkit-input-placeholder {
  color: #DC143C;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #DC143C;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #DC143C;
  opacity: 1;
}

::placeholder {
  color: #DC143C;
  opacity: 1;
}

footer {
  background: #0c0b0b;
  height: auto;
}

footer p {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 1.5em;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  color: white;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social {
  margin: 5px;
}

@media screen and (max-width: 500px) {
  .footer-container {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  .socials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 2.5em;
    margin-left: 15%;
  }
  .social {
    margin-right: 2em;
  }
  .logo img {
    width: 40px;
    height: 40px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .footer-column1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 150px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */